.nav {
  position:absolute;
  bottom:0;
  right:0;
}

.about-me {
  text-align: center;
}

.image-me {
  max-width: 15%;
  float: right;
  border-radius: 10px
}

.cardwide {
  width: 33%;
}

.cardimg {
  max-width:100%;
  max-height 200px;
  overflow: hidden;
}

.cardcolor {
  background-color: #68747d;
  border: 6px solid ##25a2b6;
}
